<style>
table {
	width: 100%;
	border-collapse: collapse;
	margin: 30px auto;
	text-align: center;
	font-family: sans-serif;
}

th,
td {
	border: 1px solid #ddd;
	padding: 12px;
	width: 33.33%;
}

th {
	background-color: #3498db;
	color: white;
	font-size: 18px;
	border-radius: 10px 10px 0 0;
}

td {
	background-color: #f2f2f2;
	font-size: 16px;
	border-bottom: none;
	border-radius: 0 0 10px 10px;
}
td:first-child {
	background-color: rgba(52, 152, 219, 0.3);
}

td:nth-child(2) {
	background-color: rgba(255, 255, 102, 0.3);
}
td:last-child {
	background-color: rgba(46, 204, 113, 0.3);
}

tr:last-child td {
	border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 600px) {
	th,
	td {
		width: 100%;
		display: block;
		border-bottom: 1px solid #ddd;
	}

	th {
		background-color: transparent;
		border-bottom: none;
	}
}
</style>
